<h1>Listing quotes</h1>

<table>
  <tr>
    <th>Stock</th>
    <th>Neg1 open</th>
    <th>Neg1 close</th>
    <th>Zero open</th>
    <th>Zero close</th>
    <th>Date</th>
    <th>Timing</th>
    <th>Eps estimate</th>
    <th>Eps actual</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @quotes.each do |quote| %>
  <tr>
    <td><%= quote.stock_id %></td>
    <td><%= quote.neg1_open %></td>
    <td><%= quote.neg1_close %></td>
    <td><%= quote.zero_open %></td>
    <td><%= quote.zero_close %></td>
    <td><%= quote.date %></td>
    <td><%= quote.timing %></td>
    <td><%= quote.eps_estimate %></td>
    <td><%= quote.eps_actual %></td>
    <td><%= link_to 'Show', quote %></td>
    <td><%= link_to 'Edit', edit_quote_path(quote) %></td>
    <td><%= link_to 'Destroy', quote, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Quote', new_quote_path %>
